/* Down Arrow Icon for Megamenu */
@font-face {
  font-family: 'classyfonts';
  src: url("../fonts/classy.eot?fftrrv");
  src: url("../fonts/classy.eot?fftrrv#iefix") format("embedded-opentype"), url("../fonts/classy.ttf?fftrrv") format("truetype"), url("../fonts/classy.woff?fftrrv") format("woff"), url("../fonts/classy.svg?fftrrv#classyfonts") format("svg");
  font-weight: normal;
  font-style: normal;
}

.classynav ul li.megamenu-item>a:after,
.classynav ul li.has-down>a:after {
  font-family: 'classyfonts';
  content: "\e900";
  font-size: 12px;
  color: #000000;
  padding-left: 5px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
