@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800");
/* :: 2.0 Import All CSS */
@import url(css/bootstrap.min.css);
@import url(css/classy-nav.css);
@import url(css/owl.carousel.min.css);

/* :: 3.0 Base CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  outline: 0 solid transparent;
  color: #141414;
  font-weight: 600;
  font-size: 14px;
}

ul,
ol {
  margin: 0;
}

ul li,
ol li {
  list-style: none;
}

img {
  height: auto;
  max-width: 100%;
}

/* :: 3.1.0 Spacing */
.ml-30 {
  margin-left: 30px !important;
}

@media only screen and (max-width: 767px) {

  .mfp-image-holder .mfp-close,
  .mfp-iframe-holder .mfp-close {
    right: 0;
  }
}

/* :: 3.8.0 Fitness Button */
.fitness-btn {
  position: relative;
  z-index: 9;
  display: inline-block;
  min-width: 200px;
  height: 45px;
  color: #38b143;
  border-radius: 10px;
  padding: 0 30px;
  font-size: 14px;
  line-height: 39px;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  border: 3px solid #38b143;
}

.fitness-btn.menu-btn {
  color: #101214;
  font-weight: 700;
  background: #b6e358;
  background: -webkit-linear-gradient(to right, #b6e358, #38b143);
  background: linear-gradient(to right, #b6e358, #38b143);
  border: none;
  line-height: 45px;
  text-align: center;
}

.fitness-btn.menu-btn:hover, .fitness-btn.menu-btn:focus {
  color: #ffffff;
  font-weight: 700;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .fitness-btn.menu-btn {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .fitness-btn.menu-btn {
    margin-top: 30px;
  }
}

.fitness-btn.btn-white {
  background-color: #ffffff;
}

.fitness-btn.btn-white:hover, .fitness-btn.btn-white:focus {
  color: #ffffff;
  background-color: #38b143;
  border-color: #38b143;
}

/* :: 4.0 Header Area CSS */
.header-area {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 30px;
  left: 0;
  z-index: 1000;
}

.header-area .fitness-main-menu {
  position: relative;
  width: 100%;
  height: 85px;
  background-color: transparent;
}

.header-area .fitness-main-menu .classy-nav-container {
  background-color: transparent;
}

.header-area .fitness-main-menu .classy-navbar {
  background-color: transparent;
  height: 85px;
  padding: 0;
}

.header-area .fitness-main-menu .classy-navbar .classynav ul li a {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.header-area .fitness-main-menu .classy-navbar .classynav ul li a:hover, .header-area .fitness-main-menu .classy-navbar .classynav ul li a:focus {
  color: #38b143;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .fitness-main-menu .classy-navbar .classynav ul li a {
    padding: 0 7px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .fitness-main-menu .classy-navbar .classynav ul li a {
    background-color: #101214;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .fitness-main-menu .classy-navbar .classynav ul li a {
    background-color: #101214;
  }
}

.header-area .fitness-main-menu .classy-navbar .classynav ul li.megamenu-item>a::after,
.header-area .fitness-main-menu .classy-navbar .classynav ul li.has-down>a::after {
  color: #ffffff;
}

.header-area .fitness-main-menu .classy-navbar .classynav ul li ul li a {
  color: #101214;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .fitness-main-menu .classy-navbar .classynav ul li ul li a {
    padding: 0 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .fitness-main-menu .classy-navbar .classynav ul li ul li a {
    color: #ffffff;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .fitness-main-menu .classy-navbar .classynav ul li ul li a {
    color: #ffffff;
  }
}

.header-area .is-sticky .fitness-main-menu {
  position: fixed;
  width: 100%;
  height: 85px;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #101214;
  box-shadow: 0 5px 50px 15px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breakpoint-on .classy-navbar .classy-menu {
    background-color: #101214;
  }
}

@media only screen and (max-width: 767px) {
  .breakpoint-on .classy-navbar .classy-menu {
    background-color: #101214;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .classynav ul li .megamenu .single-mega.cn-col-4 {
    padding: 0;
  }
}

@media only screen and (max-width: 767px) {
  .classynav ul li .megamenu .single-mega.cn-col-4 {
    padding: 0;
  }
}

.classycloseIcon .cross-wrap span {
  background: #ffffff;
}

/* :: 5.0 Hero Slides Area */
.hero-slides {
  position: relative;
  z-index: 1;
}

.hero-slides .single-hero-slide {
  width: 100%;
  height: 880px;
  position: relative;
  z-index: 1;
}

.hero-slides .single-hero-slide::after {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -5;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: '';
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-slides .single-hero-slide {
    height: 650px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slides .single-hero-slide {
    height: 550px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-slides .single-hero-slide {
    height: 600px;
  }
}

.hero-slides .single-hero-slide h2 {
  font-size: 100px;
  color: #ffffff;
  margin-bottom: 0;
  font-weight: 400;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-slides .single-hero-slide h2 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slides .single-hero-slide h2 {
    font-size: 36px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-slides .single-hero-slide h2 {
    font-size: 30px;
  }
}

.hero-slides .single-hero-slide p {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 40px;
  color: #ffffff;
}

.hero-slides .owl-prev,
.hero-slides .owl-next {
  width: 0;
  height: 0;
  color: #ffffff;
  top: 50%;
  margin-top: -28px;
  left: 5%;
  position: absolute;
  z-index: 10;
  text-align: center;
  font-size: 55px;
  font-weight: 700;
  opacity: 0;
  visibility: hidden;
  transition-duration: 500ms;
}

@media only screen and (max-width: 767px) {

  .hero-slides .owl-prev,
  .hero-slides .owl-next {
    width: 60px;
    height: 40px;
    line-height: 35px;
    margin-top: -30px;
  }
}

.hero-slides .owl-prev:hover, .hero-slides .owl-prev:focus,
.hero-slides .owl-next:hover,
.hero-slides .owl-next:focus {
  background-color: #141414;
  color: #ffffff;
}

.hero-slides .owl-next {
  left: auto;
  right: 5%;
}

.hero-slides:hover .owl-prev, .hero-slides:hover .owl-next {
  opacity: 1;
  visibility: visible;
}

.hero-slides .owl-dots {
  position: absolute;
  bottom: 50px;
  z-index: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .hero-slides .owl-dots {
    width: 920px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-slides .owl-dots {
    width: 700px;
  }
}

@media only screen and (max-width: 767px) {
  .hero-slides .owl-dots {
    width: 290px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .hero-slides .owl-dots {
    width: 450px;
  }
}

.hero-slides .owl-dots .owl-dot {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}

.hero-slides .owl-dots .owl-dot.active {
  color: #38b143;
}

.bottom-footer-area {
  background-color: #101214;
  padding: 40px 0;
}

.bottom-footer-area p {
  font-size: 18px;
  margin-bottom: 0;
  color: #FFF;
  font-weight: 700;
}

.img_cont {
  margin-left: 15px;
}

.footer_cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
